.accordion-item {
  border-bottom: 1px solid #ccc;
  margin-bottom: 10px;
  width: 70%;
  font-family: "Poppins";
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  background: #f4f9f6;
  color: #333;
  font-weight: bold;
  padding: 14px 18px;
  width: 100%;
  border: none;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.3s;
}

.accordion-header:hover {
  background: #e4f2ec;
}

.accordion-arrow {
  transition: transform 0.3s;
}

.accordion-arrow.open {
  transform: rotate(90deg);
}

.accordion-content {
  background: #fff;
  padding: 16px 18px;
  font-size: 1.1rem;
  color: #444;
}
